<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>输入文本页</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<SCRIPT LANGUAGE="JavaScript">
</SCRIPT>
    <div class = "container">
             <h2 class="text-center">输入文本进行抽取</h2>
             <form>
                <div class = "form-group text-center">
                   <textarea type="text" class = "form-control input-lg" id = "chouqu"></textarea>
                    <br>
                    <span class="input-group-btn">
                        <button class="btn btn-primary btn-block" type="button" id="button" onclick="test()">抽取</button>
                    </span>
                </div>
             </form>
    </div>
</body>
</html>